{% extends '::base.html.twig' %}

{% block menuhaut %}
    <div id="menuhaut">
        {% include "KoalaUserBundle:Default:index.html.twig"  %}
        <a class="btn" href="{{ path('throwBottle' ) }}">Trow a bottle ! </a>
    </div>
{% endblock %}
