{% extends 'KoalaMiabBundle::layout.html.twig' %}

{% block body %}
    <div class="parchemin" id="parch">
        <div class="insideparchemin">
            {% block parchemin %}{% endblock %}
        </div>
    </div>
{% endblock %}
