{% extends 'KoalaMiabBundle::parchemin.html.twig' %}
{% block parchemin %}
<div>
{{bottle.message}}
</div>
<div>
{% if bottle.image != null %}
<img src="{{ asset('upload/' ~ bottle.id ~'/' ~ bottle.image)}}" alt="" class="imgParch" />
{% endif%}
</div>
<div class="parchmentDate">
{{bottle.createDate|date('Y-m-d')}}
</div>

{% endblock %}
