{% extends 'KoalaMiabBundle::parchemin.html.twig' %}
{% block parchemin %}

<form id="form_bottle" action="{{ path('throwBottle') }}" method="post">
        {{ form_widget(formbottle) }}
        <input type="submit" value="Throw this bottle !" class="btn btn-primary"/>
</form>

{% endblock %}
