{% extends 'KoalaMiabBundle::parchemin.html.twig' %}
{% block parchemin %}
<div>
<div id="bottleChoice" style="float:right"></div>
<form id="form_bottle" action="{{ path('throwBottle') }}" method="post">
        {{ form_widget(formbottle) }}
        <input type="submit" value="Throw this bottle !" class="formbtn"/>
</form>
</div>

{% endblock %}
